<div class="footer">
	  <div class="footer-constrainer">
		    <div class="footer-inner">
			      <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/{{site.facebook_username}}">
                        <img src="/assets/img/facebook.svg" alt="Shortcut on Facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/{{site.linkedin_username}}">
                        <img src="/assets/img/linkedin.svg" alt="Shortcut on LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/{{site.instagram_username}}">
                        <img src="/assets/img/instagram.svg" alt="Shortcut on Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.behance.net/{{site.behance_username}}">
                        <img src="/assets/img/behance.svg" alt="Shortcut on Behance">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/{{site.twitter_username}}">
                        <img src="/assets/img/twitter.svg" alt="Shortcut on Twitter">
                    </a>
                </li>
            </ul>
            <div class="contact">
                <div class="name">Shortcut AS</div>
                <div class="email">{{site.email}}</div>
            </div>
		    </div>
	  </div>
</div>
