---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


    {% include head.html %}

    <body class="page-template-default page page-id-15 page-parent light-theme">



        <div class="template template-page">
            <div class="dark-wrapper">
                <div class="width-constrainer tablet-up">
                    {% include header.html %}
                </div>
            </div>
        </div>

        <div class="width-constrainer-narrower">
            <div class="article-wrapper">
                <div class="content article">
                    <!-- - Here begins the content -->
                    {{ content }}
                </div>
            </div>
        </div>

    {% include footer.html %}

    </body>

</html>
