---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


    {% include head.html %}

    <body class="page-template-default page page-id-15 page-parent light-theme">


        <div class="template template-projects">
            {% include header.html %}

            {{ content }}

            <div class="width-constrainer">
                <div class="grid-group">
                    {% for project in site.projects %}
                    {% increment idx %}
                    <div class="smaller-items-wrapper">
                        <a href="{{project.url}}" class="item" style="background-image: url({{project.image}})">
                            <div class="overlay">
                                <div class="overlay-text-wrapper">
                                    <h2 class="title smaller">{{project.title}} - {{ idx }}</h2>
                                    <p class="customer smaller">{{project.customer}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>


        {% include footer.html %}

    </body>

</html>
