---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


    {% include head.html %}

    <body class="page-template-default page page-id-15 page-parent light-theme">


        <div class="template template-projects">
            <div class="dark-wrapper">
                <div class="width-constrainer tablet-up">
                    {% include header.html %}
                </div>
            </div>
        </div>

        <div class="width-constrainer">
            <div class="grid-group">

                {% for project in site.projects %}
                <div class="smaller-items-wrapper">
                    <a href="/projects/{{project.slug}}" class="item" style="background-image: url({{project.image}})">
                        <div class="overlay">
                            <div class="overlay-text-wrapper">
                                <h2 class="title smaller">{{project.title}}</h2>
                                <p class="customer smaller">{{project.title</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{project.title}}
            </div>
            {% endfor %}

            {{ content }}
        </div>

    </body>
    {% include footer.html %}

    </body>

</html>
